# ==========================================
# SISTEMA E EDITORES DE CÓDIGO
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.tmp

# ==========================================
# NODE.JS & WEB (Lixo de instalações)
# ==========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
dist/

# Executável Standalone do Tailwind CLI
tailwindcss
tailwindcss.exe

# Ignorar arquivos pesados de ícones no repositório/deploy
icons/regular/
icons/fill/

# ==========================================
# RUST / TAURI (Compilados ultra pesados!)
# ==========================================
target/
**/src-tauri/target/
**/desktop/src-tauri/target/

# ==========================================
# ANDROID / GRADLE (Compilados mobile)
# ==========================================
.gradle/
build/
**/android/build/
**/android/app/build/
**/android/.gradle/
local.properties
*.apk
*.aab
*.keystore
*.jks

# ==========================================
# SEGREEDOS E LOGS
# ==========================================
*.log
.env
.env.local